<ion-view view-title="SignIn" class="view login">
  <img src="img/qarnot-home.png"/>
  <ion-header-bar class="transparent">
    <h1 class="title">Sign In</h1>
  </ion-header-bar>

  <ion-pane class="transparent">
    <div class="list">
      <label class="item item-input username transparent">
        <input type="text" placeholder="Username" ng-model="data.username"/>
      </label>
      <label class="item item-input password transparent">
        <input type="password" placeholder="Password" ng-model="data.password"/>
      </label>
      <label class="transparent">
        <button class="button button-block button-positive" ng-click="login(data)">Login</button>
      </label>
    </div>
  </ion-pane>
</ion-view>
