<ion-view VIEW-TITLE="Settings">
    <ion-pane id="settings">
        <ion-header-bar class="transparent">
            <a class="button button-icon icon ion-home home" href="#/home"></a>
            <h1 class="title">Settings</h1>
        </ion-header-bar>

        <ion-pane class="transparent">
            <div class="list">
                <label class="item item-input username transparent">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username" ng-model="settings.username"/>
                </label>

                <label class="item item-input transparent">
                    <span class="input-label">Firstname</span>
                    <input type="text" placeholder="Firstname" ng-model="settings.firstname"/>
                </label>

                <label class="item item-input transparent">
                    <span class="input-label"> Lastname</span>
                    <input type="text" placeholder="Lastname" ng-model="settings.lastname"/>
                </label>

<!--
                <label class="item item-input item-stacked-label transparent">
                    <span class="input-label">Change Password</span>
                    <input type="password" placeholder="Current Password" ng-model="settings.password" class="transparent change_password"/>
                    <input type="password" placeholder="New Password" ng-model="settings.new_password" class="transparent change_password"/>
                    <input type="password" placeholder="Confirm New Password" ng-model="settings.confirm_new_password" class="transparent change_password"/>
                </label>
-->

                <label class="transparent">
                    <button class="button button-block button-positive" ng-click="saveSettings(settings)">Save</button>
                </label>
                <label class="transparent">
                    <button class="button button-block button-assertive logout" ng-click="logout()">Logout</button>
                </label>
            </div>
        </ion-pane>
    </ion-pane>
</ion-view>