<ion-view View-Title="Home" class="view">
    <ion-header-bar id="content" class="content">
        <a id="settings_home" class="button button-icon icon ion-settings" href="#/settings">
            <!--<img id="settings_home" src="./img/reglage-25.png">-->
        </a>
    </ion-header-bar>

    <ion-scroll class="qrads">
        <!-- <ion-refresher></ion-refresher> -->
        <ion-list name="qrad_list">
            <ion-item class="qrad" href="#/qrad/{{qrad.id}}" on-hold="DisplayDelete()" ng-repeat="qrad in qrads">
                <div class="row">
                    <h1 class="col-75 qrad_name">{{ qrad.friendlyName }}</h1>
                    <strong class="col-20 qrad_temp">{{ qrad.targetTemperature }}°C</strong>
                    <div class="col qrad_color" style="background: linear-gradient(to bottom, {{qrad.color}}, {{qrad.endColor}});"></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-scroll>
</ion-view>