<ion-view View-Title="Qrad" class="QradDetail">
    <div id="header">
        <div id="time" style="color:white"><span ng-bind-html="hours"></span>H<span ng-bind-html="minutes"></span></div>
        <div id="date"><span id="day" ng-bind-html="day"></span> <span id="number" ng-bind-html="number"></span> <span id="month" ng-bind-html="month"></span></div>
    </div>

    <div id="temp">
        <div id="weather"><todays-weather location="Paris, FR" units="metric"></todays-weather></div>
        <div id="current_temp" style="color: {{qrad.color}}"><span>{{Temp_Int}}</span><span id="float_temp">.{{Temp_Float}}</span></div>
        <div id="bar_temp"><div id="bar_temp_indic" ng-style="{'width' : temp_percent + '%'}" style="background-color: {{qrad.color}};"></div></div>
        <div id="indicator_temp" ng-style="{'margin-left' : 'calc('+qrad.targetTemperature_css+'% - 10px)'}" ng-bind-html="qrad.targetTemperature"></div>
    </div>

    <div class="button_bar">
        <a href="#/home"><img src="img/nav_liste.png"/></a>
        <img src="img/nav_left.png" id="down" ng-click="downTemperature()"/>
        <img src="img/nav_option.png" onclick="Option()"/>
        <img src="img/nav_right.png" id="up" ng-click="upTemperature()"/>
        <a href="#/qrad/{{qrad.id}}/settings"><img src="img/nav_reglage.png"/></a>
    </div>

    <div id="name" style="color: {{qrad.color}}">{{qrad.friendlyName}}</div>

    <div class="found_bar">
        <img src="img/picto_usage_presence.png" onclick="" class="col-25"/>
        <img src="img/picto_usage_qi.png" onclick="" class="col-25"/>
        <img src="img/picto_usage_wifi.png" onclick="" class="col-25"/>
    </div>

    <div id="informations">
        <div id="co2" class="information">
            <h2>CO²</h2>
            <div class="bar_info"><div class="indicator_bar" style="width: {{co2}}%;"></div></div>
        </div>
        <div id="humidity" class="information">
            <h2>Humidité</h2>
            <div class="bar_info"><div class="indicator_bar" style="width: {{humidity}}%"></div></div>
        </div>
        <div id="noise" class="information">
            <h2>Bruit</h2>
            <div class="bar_info"><div class="indicator_bar" style="width: {{noise}}%"></div></div>
        </div>
    </div>
</ion-view>