<ion-view view-title="Qrad Settings" style="height: 100%;">
    <ion-pane id="settings" style="height: 100%;">
        <ion-header-bar class="transparent">
            <a id="back" class="button button-icon icon ion-chevron-left home" href="#/qrad/{{qrad.id}}"></a>
            <h1 class="title">Qrad Settings</h1>
        </ion-header-bar>

        <ion-pane class="transparent">
            <div class="list" style="height: 90%;">
                <label class="item item-input username transparent">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name" ng-model="qrad.friendlyName" style="color: {{qrad.color}} !important; font-weight: bold;"/>
                </label>

                <label class="item transparent">
                    <div id="gradient" style="background: linear-gradient(to bottom, {{qrad.color}}, {{qrad.endColor}})"></div>
                    <span class="input-label">Color</span>
                    <label class="item-input">
                        <label class="input-label">Standard</label>
                        <input type="color" ng-model="qrad.color"/>
                    </label>
                    <label class="item-input" style="height: 100%;">
                        <span class="input-label">End Color</span>
                        <input type="color" ng-model="qrad.endColor"/>
                    </label>
                </label>



                <label class="transparent">
                    <button class="button button-block button-positive" ng-click="updateQrad()">Save</button>
                </label>
<!--
                <div class="found_bar">
                    <img src="img/picto_usage_presence.png" onclick="" class="col-25"/>
                    <img src="img/picto_usage_qi.png" onclick="" class="col-25"/>
                    <img src="img/picto_usage_wifi.png" onclick="" class="col-25"/>
                </div>
-->
            </div>
        </ion-pane>
    </ion-pane>
    <script type="text/javascript">
        var gradient = $('#gradient');
        console.log(gradient.parentNode.height());
    </script>
</ion-view>