/* Empty. Add your own CSS if you like */
@import url(../../scss/ionic.app.scss);
@font-face { font-family: CodeLight; src: url(../font/CODE_Light.otf);}

/*$qarnotgrey                       #4e4e4e !default;*/
/* Home */
.view {
    background-color: #282828;
}

.content {
    height: 50%;
    background: #282828 url(../img/home.jpg) no-repeat;
    background-size: cover;
}

.qrads { top: 40%; width: 100vw; height: 60%;}
.row { height: 100%; padding: 0; }
.item-content { background-color: transparent !important; width: 100%; height: 100%; padding: 0 !important;}
.qrad { background-color: #282828 !important; color: white; height: 50px;
    border: 0 transparent !important;
    overflow: hidden; background: linear-gradient(to bottom,#363635 0%, #1d1e1d 52%, #1d1e1d 85%, #1c1c1c 100%); }
    .qrad_name { padding: 10px; font-size: 20px; margin: 0; color: white; width: 66.66666%; }
    .qrad_temp { padding: 10px; display: block; width: 30%; background: rgba(0, 0, 0, 0.3); text-align: center;}
    .qrad_color { background-size: cover; background-clip: border-box; width: 2% !important; height: 100% !important; min-height: 100% !important; opacity: 0.9;}


.unused { box-shadow: 0px 2px 10px 20px rgba(0, 0, 0, 0.7), -1px 2px 30px rgba(255, 255, 255, 0.6) inset;}


/* Qrad Detail */
.QradDetail { background-color: black; }
#header { color: white; width: 100%; height: 50px; border: 0 solid grey; border-bottom-width: 1px; padding: 10px}
    #time { padding-top: 5px; color: white; font-size: 40px; font-weight: bold; font-stretch: condensed; font-family: 'Oswald', arial narrow, sans-serif; display: block; float: left; height: 100%; margin-right: 10px;}
    #date { color : white; font-size: 20px; padding: 0; margin: 0; display: block; line-height: 0.8; font-weight: normal; font-family: CodeLight; }
        #day { display: block; }

#temp { height: 160px; display: block; position: relative; clear: both; }
    #current_temp { font-size: 140px; font-family: CodeLight; height: 100%; box-sizing: border-box; position: absolute; top: -5px; left: 40%; }
        #current_temp span {display: inline-block; height: 100%; padding-top: 50%;}
        #float_temp { font-size: 30px; }
    #bar_temp { width: 100%; height: 3px; background-color: grey; }
        #bar_temp div { height: 100%; }
    #indicator_temp { color: grey; font-size: 20px; margin-top: 5px;}

.QradDetail img { cursor: pointer;  }
.button_bar { width: 90%; margin-left: 15%; margin-right: auto; margin-top: 20px; }
    .button_bar img { max-width: 15%; height: auto;}
#name {font-size: 30px; text-align: center; margin: 10px; margin-top: 30px; }
.found_bar { width: 45%; display: inline-block; margin-left: 30%; margin-right: auto; margin-top: 20px;}
    .found_bar img { height: auto; box-sizing: content-box; margin-right: 10px;}
#informations { margin-top: 50px; }
    .information { background-color: inherit; color: grey; margin-left: auto; margin-right: auto; width: 40%; margin-top: 10px; }
        .information h2 { text-transform: uppercase; font-size: 15px; color: inherit; text-align: center; }
        .bar_info { height: 8px; border-radius: 20px; background-color: white;  }
            .indicator_bar { height: 100%; border-radius: inherit; }
            #co2 .indicator_bar { background-color: limegreen; }
            #humidity .indicator_bar { background-color: red; }
            #noise .indicator_bar { background-color: blue; }

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
#weather {
    opacity: 0.8;
    width: 40%;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white !important;
}
#weather h3 {color: inherit;}
#weather h6 {color:inherit;}
i {
    color: #fff;
    font-family: weather;
    font-size: 150px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
}
.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
    margin: 0 0 8px;
    color: #fff;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
    margin: 0;
    padding: 0;
}

#weather li {
    background: #fff;
    background: rgba(255,255,255,0.90);
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
}

#weather .currently {
    margin: 0 20px;
}