<ion-view View-Title="Home" class="view">
    <ion-content id="content" class="content">
    </ion-content>

    <ion-scroll class="qrads">
        <!-- <ion-refresher></ion-refresher> -->
        <ion-list name="qrad_list">
            <ion-item class="qrad" href="#/qrad/{{qrad.id}}" on-hold="DisplayDelete()" ng-repeat="qrad in qrads">
                <div class="row">
                    <h1 class="col-75 qrad_name">{{ qrad.name }}</h1>
                    <strong class="col-20 qrad_temp">{{ qrad.temp }}°C</strong>
                    <div class="col qrad_color" style="background: linear-gradient(to bottom, #{{qrad.color}}, #{{qrad.endColor}});"></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-scroll>
</ion-view>